@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(187, 208, 205);
    /* color: black; */
    /* opacity: 0.5; */
}
.main_web{
    height: 100%;
    width: 100%;
}
.con{
    
    opacity: 1;
    color: red;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    color: red;
} 


 header {
    z-index: 10;
    background-color:#62ba75;
    height: 3rem;
    width: 100%;
    position: fixed;
    display: flex;
    /* border: 2px solid black; */
    padding:1rem 0;
    align-items: center;
    font-size:10px;
    color: white;
}
header img{
    height:8rem ;
    width: 8rem;
}
header p{
    font-weight: 900;
    font-size: 20px;
    font-family: 'Ubuntu',sans-serif;
}
header p:hover{
    cursor: pointer;
}
header i:hover{
    transform:scale(1.1);
}

.search{
    height: 2rem;
    width: 18rem;
    align-items: center;
    display: flex;
    margin-left: 9rem;
    border-radius: 5px;
    background-color: rgb(171, 154, 154);
    font-size: 15px;
    border: 2px solid rgb(206, 201, 201);
    
}
.search1{
    height: 1.5rem;
 
    align-items: center;
    display: flex;
    margin-left: 2px;
    border-radius: 5px;
    background-color: rgb(191, 173, 173);
    font-size: 13px;
    border: 2px solid rgb(223, 223, 223);
    cursor: pointer;
    transition: 0.2s ease;
    
}
.search1:hover{
    transform: scale(1.07);
    background: #6c94c1;
}
.search i{
    margin-left: 5px;
    margin-right: 10px;
    font-size: 15px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    
    border-radius: 50%;
}

.logo i{
    font-size: 20px;
}

.hedSec{
    height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
    margin-right: 20px;
    margin-left: 2px;
    box-shadow: 0 5px 5px #ded8dd;
   transition: calc(0.6s);
}
.hedSec:hover{
    cursor: pointer;
    transform: scale(1.09);
}

.fake{
    height: 5rem;
    width: 100%;
}




.book{
    margin-left: 45px;
    height: 2rem;
    width: 5.5rem;
    background-color: rgb(53, 140, 211);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: calc(0.3s);
}
.book:hover{
    background-color:#62ba75;
    transform: scale(1.08);
    color: white;
    cursor: pointer;
}
.fake1{
    height: 2.5rem;
    width: 100%;
}


footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    background-color: #dcc2d4;
}

